
       .fullWebsite
       {
        --widthPage: 600px;
       }
       .fullWebsite
        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: var(--widthPage);
            margin: auto;
            position: relative;
            padding: 15px 60px 15px 60px;
        }

        .websiteHeader
        {
         font-weight: bolder;
         font-size: 40px;
         font-family: 'Times New Roman', Times, serif;
         color: white;
         text-shadow: 1.5px 1px 1px #000, -1.5px -1px 1px #F64E33;
         margin: 0px;
        }
        .websiteHeader:hover
        {
          text-shadow: 2px 1px 1px #000, -2px -1px 1px #F64E33;
        }
        #headerWebsiteDiv
        {
          --gapBetween:15px;
        }
        #headerWebsiteDiv
        {
         display: flex;
         flex-direction: column;
         gap: var(--gapBetween);
         justify-content: space-between;
         margin-bottom: auto;
         margin-top: auto;
         padding-bottom: 25px;
         position: relative;
        }
        .separateSection
        {
          position: relative;
          width: 100%;
        }
        .separateSection::before{
          content : "";
          position: absolute;
          left    : 25%;
          bottom  : 0;
          height  : 1px;
          width   : 50%; 
          margin: auto;

          border-bottom: 1px solid black;
        }
   
        #headerWebsiteDiv > div{
         display: flex;
         justify-content: space-between;
        }
        #headerFirstRow
        {
          height: 50px;
        }
        .searchField
        {
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: right;
          gap: 5%;
          padding: 8px 0px 8px 0px;
        }
        .searchButton
        {
          width: 20%;
        }
        .searchField #searchTextBox
        {
          width: 45%;
        }
        .searchField #searchTextBox:hover
        {
          width: 70%;
        }
        .menuDiv
        {
          display: flex;
         flex-direction: row;
         justify-content: space-between;
        }
        .pageChapterLinks
        {
          --gapBetweenPageLinks: 10px
        }
        .pageChapterLinks
        {
         display: flex;
         flex-direction: row;
         padding: 10px 0px 10px 0px;
         gap: var(--gapBetweenPageLinks);
        }
        h2
        {
          text-align: center;
        }
        .searchParameters
        {
           display: flex;
           flex-direction: row;
        }
        .fieldParam
        {
          display: flex;
          flex-direction: row;
        }
        .displayTeachersPanel
        {
          --gapBetweenTeacherCards: 10px;
        }
        .displayTeachersPanel
        {
          margin-top: 10px;
          margin-bottom: 10px;
          display: flex;
          flex-direction: row;

          gap: var(--gapBetweenTeacherCards);
          width: 100%;
        }
        #favouriteDisplayPanel
        {
          flex-wrap: nowrap;
        }
        #topTeachersDisplayPanel
        {
          flex-wrap: wrap;
        }
        #aboutSection p
        {
          font-size: smaller;
        }
        .aboutSection::before
        {
          border-bottom: 0px;
        }
        .chapterLink{
            color: #F64E33;
            font-weight: bold;
        }
        .chapterLink:hover
        {
          color: #CE482B;
        }
        .chapterLink:link{
            text-decoration: none;
        }
        .searchParameters label
        {
             color: gray;
             font-size: smaller;
             margin-top: auto;
             margin-bottom: auto;
        }
        .searchParameters
        {
            display: flex;
            flex-direction: row;
            height: 34px;
            color: gray;
            font-size: small;
            margin-top: auto;
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
        .fieldParam
        {
          --paddingSides: 5px;
          --gapBetween: 10px;
        }
        .fieldParam
        {
            display: flex;
            flex-direction: row;
            padding: 5px 10px 5px 10px;
            padding-left: var(--paddingSides);
            padding-right: var(--paddingSides);
            gap: var(--gapBetween);
            border-right: dotted 2px gray;
        }
        .fieldParamCheck
        {
          --paddingSides: 5px
        }
        .fieldParamCheck
        {
            display: flex;
            flex-direction: row;
            padding: 5px 10px 5px 10px;
            padding-left: var(--paddingSides);
            padding-right: var(--paddingSides);
            border-right: dotted 2px gray;
        }
        #ageParam input[type = "text"]
        {
          width: 75px;
        }
        #regionParam input[type = "text"]
        {
          width: 95px;
        }
        #sexParam input[type = "text"]
        {
          width: 90px;
        }
        .searchButton
        {
            background-color: white;
            color: #F64E33;
            font-weight: bold;
            outline: #FF8B81;
            border-color: #FF8B81;
            border-style: solid;
            border-width: 1px;
            padding: 1% 1% 1% 1%;
        }

        .searchButton:hover
        {
          background-color: #F64E33;
          color: white;
          font-weight: bold;
          outline: #FF8B81;
          border-color: #F64E33;
        }
        .TeacherFormButton
        {
          background-color: white;
          color: #F64E33;
          font-weight: bold;
          outline: #FF8B81;
          border-color: #FF8B81;
          border-style: solid;
          border-width: 1px;
          padding: 1% 1% 1% 1%;
        }
        .TeacherFormButton:link{
          text-decoration: none;
        }
        .TeacherFormButton:hover{
          background-color: #F64E33;
          color: white;
          font-weight: bold;
          outline: #FF8B81;
          border-color: #F64E33;
        }
        #favouritesCheck
        {
          border-right: none;
        }
        .overlay
        {
          position: fixed;
          visibility: hidden;
          backdrop-filter: blur(1px);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          opacity: 1;
          z-index: 5;
        }
        .tableNavigationButtons
        {
          margin-top: 15px;
          margin-bottom: 15px;
        }
        .tableNavigationButtons button
        {
            background-color: white;
            outline: none;
            border-width: 0px;
            color: #12A19F;
        }
        .tableNavigationButtons #rangeButton
        {       
          color: #000;
        }
        .tableNavigationButtons button:active
        {
          color: #000;
        }
        .favouriteTeachersNavigationButton
        {
          width: 0px;
          height: 0px;
          background-color: white;
          border-top: 30px solid transparent;
          border-right: 20px solid #555;
          border-bottom: 30px solid transparent;
          position: absolute;

        }
        .buttonWhiteCover
        {
          top: -14px;
          left: 10.5px;
          position: absolute;
          width: 0px;
          height: 0px;
          border-top: 15px solid transparent;
          border-right: 10px solid white;
          border-bottom: 15px solid transparent;
        }
        .favouriteTeachersNavigationButton:hover
        {
          border-right-color: black;
        }
        #prevTeacher
        {

          position: absolute;
          left: -50px;
          top: 120px;
        }
        #nextTeacher
        {
          transform: rotate(180deg);
          position: absolute;
          left: 100%;
          top: 120px;
        }
        @media screen and (min-width: 768px){
          .fullWebsite
          {
            --widthPage:800px;
          }
          #headerWebsiteDiv
          {
            --gapBetween: 30px;
          }
          .pageChapterLinks
          {
            --gapBetweenPageLinks:25px
          }
          .displayTeachersPanel
          {
            --gapBetweenTeacherCards:30px;
          }
          .fieldParam
          {
            --paddingSides:10px;
            --gapBetween:15px;
          }
          .fieldParamCheck
          {
            --paddingSides:10px;
          }
       }
        


 